<div class="userPartials">
    <h3>Veículo:</h3>
    <label for="">Nome: {{this.name}}</label>
    <label for="">Modelo: {{this.model}}</label>
    <label for="">Motor: {{this.motor}}</label>
    <label for="">Ano: {{this.year}}</label>
    <label for="">Fabricante: {{this.producer}}</label>
    <label for="">Valor: {{this.price}}</label>
    <label for="">Cor: {{this.color}}</label>
    <label for="">Opcionais: {{this.optional}}</label>
</div>