<div class="userPartials">
    <label for="">Nome: {{this.nome}}</label>
    <label for="">Modelo: {{this.modelo}}</label>
    <label for="">Motor: {{this.motor}}</label>
    <label for="">Ano: {{this.ano}}</label>
    <label for="">Fabricante: {{this.fabricante}}</label>
    <label for="">Valor: {{this.valor}}</label>
    <label for="">Cor: {{this.cor}}</label>
    <label for="">Opcionais: {{this.opcionais}}</label>
</div>